<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>unitQuantity</key>
		<string></string>
		<key>specificCategory</key>
		<integer>0</integer>
		<key>generalCategory</key>
		<integer>0</integer>
		<key>priceInKRW</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>brand</key>
		<string></string>
	</dict>
	<dict>
		<key>unitQuantity</key>
		<string></string>
		<key>specificCategory</key>
		<integer>0</integer>
		<key>generalCategory</key>
		<integer>0</integer>
		<key>priceInKRW</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>brand</key>
		<string></string>
	</dict>
	<dict>
		<key>unitQuantity</key>
		<string></string>
		<key>specificCategory</key>
		<integer>0</integer>
		<key>generalCategory</key>
		<integer>0</integer>
		<key>priceInKRW</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>brand</key>
		<string></string>
	</dict>
	<dict>
		<key>unitQuantity</key>
		<string></string>
		<key>specificCategory</key>
		<integer>0</integer>
		<key>generalCategory</key>
		<integer>0</integer>
		<key>priceInKRW</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>brand</key>
		<string></string>
	</dict>
	<dict>
		<key>unitQuantity</key>
		<string></string>
		<key>specificCategory</key>
		<integer>0</integer>
		<key>generalCategory</key>
		<integer>0</integer>
		<key>priceInKRW</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>brand</key>
		<string></string>
	</dict>
	<dict>
		<key>unitQuantity</key>
		<string></string>
		<key>specificCategory</key>
		<integer>0</integer>
		<key>generalCategory</key>
		<integer>0</integer>
		<key>priceInKRW</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>brand</key>
		<string></string>
	</dict>
</array>
</plist>
