<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   path2.plist
   GDJHostel

   Created by Aleksander Makedonski on 7/1/17.
   Copyright (c) 2017 AlexMakedonski. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
